@import "variables";

// Base Styles

a {
  transition: color .3s ease;
  &:hover {
    color: $brand-color;
    transition: $default-transition;
  }
}

a, a:focus, button, button:focus, span, span:focus, li, li:focus, input:focus, textarea:focus {
  outline: none !important;
}

body {
	font-size: 16px;
	line-height: 1.75;
  font-family: $default-font;
	overflow-x: hidden;
  font-weight: 400;
  background-color: white;
}

p {
  @include font-size($p-font-sizes);
}

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: $default-font;
    font-weight: 600;
    margin: 1.414em 0 0.5em;
}

h1 {
    @include font-size($h1-font-sizes);
    line-height: 1.17;
    color: #ffffff; 
}
h2 {
    @include font-size($h2-font-sizes);
    line-height: 1.17;
}
h3 {
    @include font-size($h3-font-sizes);
    line-height: 1.17;
}
h4 {
    @include font-size($h4-font-sizes);
    line-height: 1.17;
}
h5 {
    font-size: em(18px);
    line-height: 1.17;
}
h6 {
    font-size: em(16px);
    line-height: 1.17;
}

.reveal-overlay {
  z-index: 9999999999;
}
.reveal {
  video {
    width: 100%;
  }
  &.modal-video {
    padding: 0px;
    border: 0px;
    outline: none;
    transition-duration: .2s !important;
    transition-timing-function: ease !important;
    background-color: transparent;
    @include breakpoint((max-width: 640px)) {
      position: absolute;
      top: 50% !important;
      transform: translateY(-50%);
      height: auto !important;
      min-height: initial !important;
    }
  }
}
  

.padding-0 {
  padding: 0;
}

.align-center {
  text-align: center;
}

.full-screen-section.not_found:after {
  display: none;
}

.not_found {
  h1 {
    margin-bottom: 30px;
  }
  p {
    @include font-size($font22);
    color: white;
    margin-bottom: 40px;
  }
  a:hover button {
    background-color: $brand-color;
    transition: $default-transition;
  }
  button {
    border: 1px solid white;
    border-radius: 5px;
    min-width: 220px;
    height: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    transition: $default-transition;
  }
  .or {
    text-align: center;
    position: relative;
    top: 16px;
    left: -12px;
    color: white;
  }
}

@include breakpoint((max-width: 1024px)) {
  .main {
    overflow-x: hidden;
  }
}