
@import "susy";
@import "breakpoint";

$height: 90px;
$sticky: 60px;
$grey: #444444;
$pink: #a72552;

// Position it on top of the cover
.nav-wrapper {
  position: fixed;
  z-index: 1;
  height: $height;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-inner {
  position: relative;
  height: $height;
  @include container(70em);

  & .logo {
    display: block;
    padding: 30px;
    float: left;
  }
}

.sticky-logo {
  float: left;
  padding: 10px 0;
  display: none;
}

.nav {
  display: inline-block;
  float: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    float: left;
    padding: 0 10px;
    line-height: $height;
    
    a {
      font-weight: bold;
      color: #FFF;
      text-decoration: none;
      position: relative;
    }

    // Fake unerlining effect
    a:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 3px;
      background-color: #FFF;
      content: "";
      transition: width 0.2s;
    }

    a:hover:after {
      width: 100%;
    }
  }
}

// Style of the navigation header when in sticky state
.sticky {
  background-color: #FFF;
  transition: background-color 0.2s, color 0.2s;
  height: $sticky;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.4);

  & .nav-inner {
    transition: height 0.2s;
    height: $sticky;
  }

  & .logo {
    display: none;
  }

  & .sticky-logo {
    display: block;
    line-height: $sticky;
  }

  & .nav {
    color: $grey;

    ul li {
      transition: line-height 0.2s;
      line-height: $sticky;
    }

    ul li a {
      color: $grey;
    }

    a:after {
      background-color: $pink;
    }
  }
}