@import "susy";
@import "breakpoint";

@import "_grid";
@import "_typo";
@import "_cover";


$padding: 20px;

#gotchaInput {
  display: none;
}

.testimonials {

}

.clients {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.footer {
  position: relative;

  padding: $padding;
  background-color: #303036;

  h5 {
    color: #FFF;
  }

  p, ul li {
    color: #808080;
    font-size: 0.8em;
  }
  // Bleed is a negative margin to compensate for the padding
  // @include bleed($grid-padding);
}