@import "susy";
@import "breakpoint";

$primary-color: #A62651;
$padding: 20px;

@import "_nav";
@import "_grid";
@import "_typo";
@import "_cover";
@import "_footer";

@import "blog/style";


#gotchaInput {
  display: none;
}

.testimonials {

}

.clients, .partners {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
    max-height: 120px;
  }
}