div.contactform
  div(class="form" style="max-width: 30em;")
    h2 Geïnteresseerd?
    span Wellicht nodigen wij je uit voor een kop koffie. Voordat wij de koffiebonen malen verwachten wij wel iets van jou: een sollicitatievideo!
    p
    form#applicationform
      div.field
        input(placeholder="Voornaam *" id="firstname" type="text")
      div.field
        input(placeholder="Achternaam *" id="lastname" type="text")
      div.field
        input(placeholder="E-mail *" id="email" type="email")
      div.field
        input(id="vacancy" type="hidden" value="#{page.title}")
      div.field
        input(placeholder="Telefoon *" id="phone" type="text")
      div.field
        h5 Leg kort uit in een video wat jouw #[i(style="text-decoration: underline") specifiek] aanspreekt in deze functie, ons team of binnen Flipbase? 
        input(type="flipbase" id="video")
      button(type="submit") Versturen
      #successMessage.success
        span All good! Je hoort zo snel mogelijk van ons!
      #errorMessage.error
        span

script.
  Flipbase.recorder({
    recorderId: '1a4ba320-7a4c-4040-9b67-c02490809cf1',
  });

  var formID = '#applicationform';

  $('#firstname, #lastname, #email, #phone').placeholder();

  //- Translate error message
  var errorMsg = {
    firstname: 'voornaam',
    lastname: 'achternaam',
    email: 'email',
    phone: 'telefoonnummer',
    video: 'video' 
  };
  var fields = ['firstname', 'lastname', 'email', 'phone', 'video'];

  function err(msg) {
    return 'Kan gebeuren: je bent je ' + msg + ' vergeten in te vullen!';
  }

  function getData () {
    return {
      voornaam: $('#firstname').val(),
      achternaam: $('#lastname').val(),
      vacature: $('#vacancy').val(),
      email: $('#email').val(),
      telefoon: $('#phone').val(),
      video: 'https://app.flipbase.com/video/' + $('#video').val()
    }
  }