// You can find styles for this section in pages/_jobs.scss

.expanded.application_form_section
  .row
    .medium-10.large-7.medium-centered
      .large-push-3
        h3 Interested? Apply below!
      form#applicationform
          .row
            .medium-3.large-3.columns.padding-0
              label.req(for="firstname") First name 
            .medium-8.large-9.columns
              input(id="firstname" type="text" required)
          
            .medium-3.large-3.columns.padding-0
              label.req(for="lastname") Last name 
            .medium-8.large-9.columns
              input(id="lastname" type="text" required)
            
            .medium-3.large-3.columns.padding-0
              label English proficiency
            .medium-8.large-9.columns
              select(id="english_level")
                option 
                option Beginner
                option Intermediate
                option Upper-intermediate
                option Advanced
                option Native
            
            .medium-3.large-3.columns.padding-0
              label.req Resume 
            .medium-8.large-9.columns
              .custom-file-upload
                // <label for="file">File: </label>
                input(type='file', id='resume' required)
                
            .medium-3.large-3.columns.padding-0
              label.req Cover letter 
            .medium-8.large-9.columns
              .custom-file-upload
                // <label for="file">File: </label>
                input(type='file', id='cover' required)
            
            .medium-3.large-3.columns.padding-0
              label Video
            .medium-8.large-9.columns
              p Please describe in a 
                b 30 second video 
                | what was the 
                b most exciting experience 
                | for you on your 
                b last job. 
                | Look straight into the camera lens, record in a quite environment, relaxt and just be yourselve!
              
            .large-11.video-section
              input(type="flipbase" id="video")
              
            .large-11.align-center.submit-section
              button.application-submit(type="submit") Yes, I’d like to work at Flipbase!
              #successMessage.success
                span
                  i.ion-checkmark-round
                  | All good! Je hoort zo snel mogelijk van ons!
              #errorMessage.error
                span

script. 
  Flipbase.recorder({
    recorderId: '1a4ba320-7a4c-4040-9b67-c02490809cf1',
  });