div.cover-wrapper
  div.cover-container
    video(poster="/assets/images/cover.jpg" class="cover-video" muted="muted" preload="auto" loop="true" autoplay="true")
      source(type="video/mp4" src="/assets/images/video/rick.mp4")
      source(type="video/webm" src="/assets/images/video/rick.webm")
      source(type="video/ogg" src="/assets/images/video/rick.ogv")
      img(src="/assets/images/cover.jpg")
    div.cover-overlay
    div.cover-titles
      h1 In 30 seconden een beeld van de persoon achter het C.V.
      h2.subtitle Direct beschikbaar in je eigen recruitment omgeving
    #arrow.arrow
      i(class="fa fa-angle-down" aria-hidden="true")

script(src='/assets/components/covervid/covervid.min.js')
script.
  // Init cover video first
  var vid = document.querySelector('.cover-video');
  if (vid) {
    coverVid(vid, 1280, 720);

    fullscreen();
    window.onresize(fullscreen);
    function fullscreen() {
      var videoWrapper = $('.cover-wrapper');
      var windowH = $(window).height();
      var windowW = $(window).width();

      videoWrapper.width(windowW);
      videoWrapper.height(windowH);
    }
  }

  $( "#arrow" ).click(function() {
    $('html, body').animate({
        scrollTop: $("#partners").offset().top - 100
    }, 500);
  });