div.footer
  div.row
    div.small3
      img(src="/assets/images/logo_white_small.png")
    div.small3
      h5 Contact
      p
        | Leidsegracht 16E
        br
        | 1016 CK Amsterdam 
        br
        | +31 (0) 20 893 26 47
        br
        | support@flipbase.com
    div.small3
      h5 Sitemap
      ul
        li Home
        li Partners
        li Contact