div.geengedoe
  div.container
    div.header
      h1 Geen gedoe
      div.divider
    div.desc
      div.ready
        h4 Kant en klaar
        p Samen met de leverancier van jouw recruitment software zorgen wij dat onze video functionaliteit beschikbaar is in jouw huidige recruitment proces.
      div.everywhere
        h4 Op ieder apparaat
        p Het opnemen en afspelen van video wordt ondersteund op ieder apparaat, zonder een app te hoeven downloaden of in te loggen in een andere omgeving.
      div.nodata
        h4 Geen data opslag
        p Flipbase verzorgt alle video- en data opslag, je hebt geen groter (data) pakket nodig bij je huidige recruitment software leverancier.

div.talkingfaces
  div.mask
  div.teaser
    h1 Talking faces make you smile
    p Yes, they do...