div.how
  div.header
    h2 Hoe werkt het?
  div.container
    div.form
      h4 #[span 01/] In het formulier of na een eerste selectie
      p Zet video in waar en wanneer je wilt. Hierbij heb je de mogelijkheid om het opnemen van een video verplicht of optioneel te maken.
    div.profile
      h4 #[span 02/] Automatisch gekoppeld aan het kandidaat dossier
      p Zodra een video is opgenomen, wordt deze automatisch gekoppeld aan het kandidaat dossier in je recruitment omgeving.
    div.share
      h4 #[span 03/] Versterk de interne voordracht
      p In je recruitment omgeving kan je met Flipbase eenvoudig de voordracht van kandidaten, aan bijvoorbeeld een manager, versterken.
    div.enrich
      h4 #[span 04/] Verrijk profielen
      p In je recruitment omgeving kan je met Flipbase eenvoudig profielen verrijken waardoor je altijd een eerste indruk van talenten bij de hand hebt.