header
  div.nav-wrapper
    div.nav-inner
      nav.nav
        ul
          li
            a(href="/" data-type="page-transition") Home
          li
            a(href="/blog" data-type="page-transition") Blog
          li
            a(href="/#contact" data-type="page-transition") Contact
          li(style="padding:4px; margin-right: 5px;")
            a(href="/en" data-type="page-transition")
              img(src="/assets/images/flag_uk.png")

      div.logo
        a(href="/" data-type="page-transition")
          block logo
            img(src="/assets/images/logo_white_small.png")

      div.sticky-logo
        a(href="/" data-type="page-transition")
          img(src="/assets/images/logo_small.png")