#partners.partners

  div.introduction
    h2 In iedere recruitment omgeving
    p Flipbase is géén systeem. Flipbase is een plugin die speciaal ontwikkeld is om geïntegreerd te worden in je huidige recruitment omgeving. Hierdoor zijn er geen grote veranderingen in het recruitment proces nodig.

  div.logos
    div.partner
      img(src="/assets/images/partners/connexys-200x200.png")
    div.partner
      img(src="/assets/images/partners/hireserve-200x200.png")
    div.partner
      img(src="/assets/images/partners/tangram-200x200.png")
    div.partner
      img(src="/assets/images/partners/cvwarehouse-200x200.png")
    div.partner
      img(src="/assets/images/partners/talentsoft-200x200.png")
    div.partner
      img(src="/assets/images/partners/emply-200x200.png")
    div.partner
      img(src="/assets/images/partners/hroffice-200x200.png")
    div.partner
      img(src="/assets/images/partners/carerix-200x200.png")
