div.testimonials
  #prev.prev
    i(class="fa fa-angle-left")
  #next.next
    i(class="fa fa-angle-right")

  ul(class="bxslider")
    each quote in page.metadata.testimonials
      li
        div.quote-wrap
          span.quote &ldquo; #{quote.quote} &rdquo;
          h4.quotee  #{quote.name}