div.why
  div.container
    div.header
      h2 Waarom?
      div.divider
    div.mobileready
      img(src="/assets/images/everydevice.png")
    div.reasoning
      div.row
        i(class="fa fa-comments" aria-hidden="true")
        div.text
          h4 Geen onnodige kennismakingsgesprekken
          p Op basis van een eerste indruk weet je vaak al of een kandidaat wel of niet geschikt is voor de functie.
      div.row
        i(class="fa fa-user-plus" aria-hidden="true")
        div.text
          h4 Direct een eerste indruk beschikbaar
          p Zoek niet langer online naar een eerste indruk van een kandidaat.
      div.row
        i(class="fa fa-share" aria-hidden="true")
        div.text
          h4 Versterk de voordracht
          p Versterk de interne of externe voordracht van kandidaten, aan bijvoorbeeld een manager of opdrachtgever.
      div.row
        i(class="fa fa-user-times" aria-hidden="true")
        div.text
          h4 Geen onterechte afwijzingen
          p Beoordeel een kandidaat niet enkel op basis van competenties en ervaring, maar ook op persoonlijkheid en motivatie.