@import "susy";
@import "breakpoint";
@import "variables";

.blog_section {
  padding-top: 60px;
  .blog_title {
    h1 {
      color: $body-text-color;
      text-align: center;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }
  .blog_categories {
    border-top: 1px solid $border-tags-color;
    border-bottom: 1px solid $border-tags-color;
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 12px 0;
      li {
        display: inline-block;
        position: relative;
        margin-right: 30px;
        &:after {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 2.5px;
          position: absolute;
          background-color: #a4acb8;
          right: -18px;
          top: 11px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        a {
          color: $body-text-color;
        }
      }
      @include breakpoint((max-width: 640px)) {
        margin: 0;
        text-align: center;
        padding: 0;
        li {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%;
          border-bottom: 1px solid $border-tags-color;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .blog_article_list {
    padding-top: 60px;
    padding-bottom: 90px;
    .blog_article_header a {
      color: $body-text-color;
    }
    .blog_article_meta {
      color: #a4acb8;
      font-size: em(14px);
    }
    p {
      font-size: em(18px);
    }
    .blog_article_divider {
      width: 84%;
      margin: auto;
      height: 1px;
      background-color: $border-tags-color;
      margin-top: 24px;
      margin-bottom: 50px;
    }
    .pagination {
      ul {
        list-style: none;
      }
      li {
        background-color: #f2f4f9;
        border: 1px solid #a4acb8;
        margin: 0 4px;
        display: inline-block !important;
        &:last-child, &:first-child {
          background-color: transparent;
          border: 0;
          margin: 0;
        }
        i {
          color: #a4acb8;
          font-size: 20px;
          position: relative;
          top: 3px;
        }
        @include breakpoint((max-width:480px)) {
          margin: 0 2px;
        }
      }
      .ellipsis {
        background-color: transparent;
        border: 0;
        &:after {
          position: relative;
          top: 8px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  // Privacy Page
  .privacy_information {
    padding-top: 40px;
    padding-bottom: 80px;
    small {
      color: #a4acb8;
      font-size: em(16px);
    }
    h3 {
      margin-top: em(42px);
    }
    p {
      font-size: em(18px);
    }
    p:nth-child(2) {
      font-size: em(22px);
    }
  }
}

.blog_article_content {
  padding: 70px 0 90px 0;
  p {
    font-size: em(18px);
  }
  .first-paragraph {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: em(22px);
    margin-top: 20px;
    margin-bottom: 30px;
    @include breakpoint((max-width: 640px)) {
      width: 83.33%;
    }
  }
  small {
    font-size: em(16px);
    color: $grey-text-color;
    margin-bottom: 30px;
  }
  .centered-quote {
    text-align: center;
    margin-top: 36px;
    font-size: em(22px);
  }
  .centered-quote-caption {
    color: $grey-text-color;
    margin-bottom: 36px;
    text-align: center;
  }
  .video-caption {
    color: #a4acb8;
    margin-bottom: 38px;
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.blog_article-end {
  margin-top: 60px;
  margin-bottom: 40px;
  height: 1px;
  border-top: 1px solid $border-tags-color;
}

.blog_article_social_top {
  position: relative;
  margin-top: 45px;
  ul {
    position: absolute;
    list-style: none;
    li {
      width: auto !important;
      font-weight: 600;
      text-align: center;
      i {
        font-size: em(22px);
        color: $grey-text-color;
        transition: $default-transition;
        &:hover { 
          color: $brand-color;
          transition: $default-transition;
        }
      }
    }
  }
  @include breakpoint((max-width: 640px)) {
    display: none;
  }
}

.blog_article_social {
  ul {
    list-style: none;
    margin-left: 12px;
    margin-bottom: 24px;
    li {
      display: inline-block;
      width: auto !important;
      color: $grey-text-color;
      margin-right: 3px;
      margin-left: 3px;
      &:first-child {
        margin-right: 10px;
        margin-left: 0; 
      }
      i {
        font-size: em(20px);
        color: $grey-text-color;
        transition: $default-transition;
        &:hover { 
          color: $brand-color;
          transition: $default-transition;
        }
      }
    }
  }
}

.blog_article_tags {
  ul {
    list-style: none;
    margin-left: 12px;
    li {
      display: inline-block;
      background-color: $border-tags-color;
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 14px;
      transition: $default-transition;
      &:first-child {
        margin-right: 18px;
        margin-left: 0;
        color: $grey-text-color;
        background-color: transparent;
      }
      a {
        color: $body-text-color;
        padding: 1px 7px 1px 7px;
        transition: $default-transition;
        &:hover { 
          color: white;
          transition: $default-transition;
        }
      }
      &:hover {
        background-color: $brand-color;
        transition: $default-transition;
      }
    }
  }
}
