@import "susy";
@import "breakpoint";

.blog {

  a {
    text-decoration: none;
    color: $primary-color;
  }

  & img {
    max-width: 100%;
  }

  /**
   * Typo
   */
  .header h1 {
    color: #FFF;
  }

  h1, h2, h3, h4, h5, p {
    color: #333;
  }

  .article-summary p, .article p {
    font-family: "freight-text-pro";
    line-height: 1.5em;
    font-size: 1.3em;
  }

  @include breakpoint((max-width 600px)) {
    font-size: 85%;
  }

  & .header {
    background-color: $primary-color;
    text-align: center;
    color: #FFF;
    padding: 40px;
  }

  & .content, & .article {
    @include container(40em);
    position: relative;
    clear: both;
    margin-top: 60px;
    padding: 0 20px;

  }

  & .article {
    margin-bottom: 60px;

    & .metadata {
      font-size: 0.9em;
      color: #aaa;
    }

  }

  & .summary-divider {
    border-bottom: 1px solid #efefef;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  & .social-icons {
    width: 35%;
    margin-bottom: 20px;
  }

  & .content {

    h2 {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: #444;
    }
    a:hover {
      color: $primary-color;
    }
    .more a {
      color: $primary-color;
      font-weight: bold;
    }
    .more a:hover {
      color: #444;
    }
    & .metadata {
      font-size: 0.9em;
      color: #aaa;
    }
  }

  & .paginate {
    padding: 20px 0;
    margin-bottom: 80px;

    & .paginator {
      border: 2px solid #333;
      color: #333;
      background-color: #FFF;
      padding: 10px 30px;

      .borderradius & {
        @include border-radius(2px);
      }

      .csstransitions & {
        @include transition(color 500ms ease, background-color 500ms ease)
      }

      & .fa {
        font-size: 12px;
      }

      &:hover {
        background-color: #333;
        color: #FFF;
      }

    }

  }
}