@import "compass/css3/opacity";
@import "compass/css3/transform";

.contact {
  position: relative;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
}

.mask {
  @include opacity(0.8);
  background-color:rgba(39,38,48,0.85);
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-box {
  max-width: 100%;
  left: 50%;
  top: 50%;
  @include translate(-50%,-100%);
  text-align: center;
  color: #FFF;
  position: absolute;
}

.contact button {
    margin: 10px 0;
    border: 1px solid #FFF;
    background: none;
    color: #FFF;
    text-align: center;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;

    .borderradius & {
      @include border-radius(2px);
    }
    .csstransitions & {
      @include transition(border 500ms ease, background-color 500ms ease);
    }
    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #FFF;
    }
}


/**
 * Contact form
 */
.contactform {
  background: #ededed;

  & .form {
    @include layout($susy);
    @include container(20em);
    padding: 40px;

    & .success, & .error {
      display: none;
      font-weight: bold;
    }
    & .success {
      color: #4bd117;
    }
    & .error {
      color: #e03c3c;
    }
  }

  & input[type=email], & input[type=password], & input[type=text], & textarea {
    width: 100%;
    background-color: #fff;
    color: #333;
    border: 1px solid #e3e3e3;
    outline: 0;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 4px;
    font-family: "freight-sans-pro";
  }

  & button {
    margin: 10px 0;
    border: 1px solid #000;
    background: none;
    color: #000;
    text-align: center;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;

    .borderradius & {
      @include border-radius(2px);
    }
    .csstransitions & {
      @include transition(color 500ms ease, background-color 500ms ease);
    }
    &:hover {
      background-color: #333;
      color: #FFF;
    }

  }

}