@import "susy";
@import "breakpoint";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "variables";
@import "mixins";

.cover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-screen-section {
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(30, 37, 62, 0.7);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.flexbox .full-screen-section {
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  .home-header {
    margin-bottom: 90px;
  }
  .row {
    width: 1200px;
    z-index: 100;
    margin: auto;
    @include breakpoint((max-width: 640px)) {
      padding: 100px 15px 60px 15px;
      width: 100%;
    }
  }
}

.no-flexbox .full-screen-section {
  .row {
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 1200px;
    margin: auto;
    .home-header {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.home-link {
  &:hover .home-text-block {
    background-color: #7F1D3E;
    transition: $default-transition;
  }
}

.home-text-block {
  background-color: $brand-color;
  box-shadow: 1px 0 10px 4px rgba(0, 0, 0, 0.5);
  padding: 70px 30px 35px 30px;
  border-radius: 10px;
  transition: $default-transition;
  h3, p {
    color: white;
    word-break: break-word;
  }
  p {
    font-size: 20px;
  }
  @include breakpoint((max-width 768px)) {
    margin-bottom: 40px;
    p {
      font-size: 18px;
    }
  }
}


/**
 * Outdated browser message
 */
.ie-warning{position:fixed;left:0;top:0;right:0;bottom:0;background:#303036;z-index:9999}
.ie-warning>div.ie-warning-wrapper{position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-200px;text-align:center;padding:75px 0px;width:800px;height:300px;color:#fff}
.ie-warning>div.ie-warning-wrapper>h3{font-weight:500;font-size:22px;margin-bottom:15px}
.ie-warning>div.ie-warning-wrapper>p{font-weight:200;margin-bottom:50px}
.ie-warning div.browser-choice>.browser{width:150px;display:inline-block;*display:inline;zoom:1;margin-left:20px;margin-right:20px;padding-top:110px;padding-bottom:20px;}
.ie-warning div.browser-choice button.download-browser{margin-top:10px;width:150px;height:35px;border:0;border-radius:5px;color:#ffffff;font-weight:700;background:#258BE1; cursor: pointer;}