@import "susy";
@import "breakpoint";
@import "variables";
@import "mixins";


/**
 * Navigation menu
 */


// Overlay for content when mobile menu is open (disabled)
.js-off-canvas-overlay.is-visible {
  display: none !important;
}

.logo-dark {
  display: none !important;
}

// Sticky Navbar
nav.sticky-container {
  top: 0 !important;
  position: absolute;
  width: 100%;
  transition: all .4s ease;
  z-index: 9999;
  .sticky {
    transition: all .4s ease;
  }
  .is-stuck {
    width: 100%;
    transition: all .4s ease;
    background-color: white;
    .logo-white {
      display: none;
    }
    .logo-dark {
      display: block !important;
    }
    .top-bar {
      padding: 10px 0 !important;
      transition: all .4s ease;
      li a {
        color: $dark-purple;
        font-weight: 500;
      }
    }
  }
}

nav.white-links {
  .top-bar-right li a {
    &:hover {
      color: white;
      transition: $default-transition;
    }
    &:after {
      background-color: white !important;
    }
  }
  .is-stuck {
    .top-bar-right li a {
      &:hover {
        color: $brand-color !important;
        transition: $default-transition;
      }
      &:after {
        background-color: $brand-color !important;
      }
    }
  }
}

nav.dark-nav {
  .top-bar-right li a {
    color: $body-text-color !important;
  }
  .logo-white {
    display: none !important;
  }
  .logo-dark {
    display: block !important;
  }
  .menu-mobile-icon {
    background-color: black !important;
    &:after, &:before {
      background-color: black !important;
    }
  }
}

// Mobile styles
@include breakpoint((max-width 1023px)) {
  // Fix bug with sticky nav for mobile
  nav {
    .sticky.is-anchored.is-at-bottom {
      top: 0 !important;
    }
  }
  .off-canvas {
    background-color: $dark-purple;
    ul {
      padding: 20px 42px 20px 24px;
      li {
        padding-top: 6px;
      }
    }
    .menu.nested {
      padding: 8px 6px 6px 0;
      a {
        font-size: 16px;
        padding-bottom: 8px !important;
      }
    }
    .is-accordion-submenu-parent>a:after {
      content: "\f3d0";
      font-family: "Ionicons";
      border: 0;
      top: 40%;
    }
    .is-accordion-submenu-parent[aria-expanded=true]>a:after {
      content: "\f3d8";
      font-family: "Ionicons";
      transform: none;
    }
    a {
      color: $border-tags-color;
      font-weight: 300;
      font-size: 18px;
      border-bottom: 1px solid $border-tags-color;
      padding-left: 4px !important;
      &:hover, &:focus {
        color: $border-tags-color;
      }
    }
  }
  .top-bar {
    background-color: transparent;
    ul {
      background-color: transparent;
      li:first-child {
        float: left;
        position: relative;
        top: 16px;
        left: 10px;
      }
    }
    .top-bar-right {
      display: none;
    }
    .top-bar-left {
      width: 100%;
    }
    .brand {
      float: right;
      a {
        padding-right: 0;
      }
    }
    .menu-mobile-icon {
      /* this span is the central line of the menu icon */
      display: inline-block;
      position: relative;
      background-color: #fff;
      transform: translateX(0%) translateY(-50%);
      width: 25px;
      height: 3px;
      top: -4px;
      transition: background-color 0.3s;
      /* these are the upper and lower lines in the menu icon */
      &:after, &:before {
        content: '';
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        transition: all .4s ease;
      }
      &:after {
        top: 8px;
      }
      &:before {
        top: -8px;
      }
    }
    .menu-mobile-icon[aria-expanded="true"] {
      background-color: rgba(255, 255, 255, 0) !important;
      &:after {
        top: 0;
        transform: rotate(45deg);
      }
      &:before {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

// Desktop Navbar Styles
@include breakpoint((min-width 1024px)) {
  .off-canvas {
    display: none;
  }
  .position-left.is-open~.off-canvas-content {
    transform: none;
  }
  .dropdown.menu>li.opens-right>.is-dropdown-submenu {
    top: 130%;
  }
  .top-bar {
    padding: 30px 0 !important;
    background-color: transparent;
    transition: all .4s ease;
    .brand img {
      width: 170px;
    }
    ul {
      background-color: transparent;
    }
    .top-bar-right {
      margin-top: 8px;
      li {
        a {
          color: white;
          position: relative;
          &:hover {
            color: $brand-color;
            transition: $default-transition;
            &:after {
              width: 100%;
            }
          }
          &:after {
            display: block;
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 0;
            height: 2px;
            background-color: $brand-color;
            content: "";
            transition: width 0.3s;
          }
        }
        .is-dropdown-submenu {
          background-color: white;
          min-width: 345px;
          padding: 18px 0;
          border: 1px solid $brand-color;
          li {
            padding: 10px 34px 14px 34px;
            &:last-child p {
              border-bottom: 0;
              padding-bottom: 0;
            }
          }
          a {
            color: $body-text-color;
            padding: 0;
            font-size: em(20px);
            &:hover {
              color: $brand-color;
              transition: $default-transition;
            }
            &:after {
              display: none;
            }
            i {
              font-size: 12px;
            }
            p {
              margin-top: 7px;
              padding-bottom: 20px;
              margin-bottom: 0;
              border-bottom: 1px solid $border-tags-color;
              font-size: 15px;
              line-height: em(24px);
            }
          }
        }
      }
      .language img {
        width: 18px;
      }
    }
  }
}


