@import "susy";
@import "breakpoint";
@import "base";

$primary-color: #A62651;
$padding: 20px;

@import "_nav";
@import "_footer";
@import "_home";
@import "_sollicitatie-proces";
@import "_blog";
@import "_jobs";
@import "_contact";
@import "_pagetransition";

.bx-wrapper .bx-loading {
  background: url('../components/bxslider-4/dist/images/bx_loader.gif') center center no-repeat #ffffff;
}