// You can find styles for this section in pages/_sollicitatie-proces.scss

section
  .row.request_section.clearfix
    .small-10.medium-6.small-centered
      h3 Wil je meer zien? Plan een demo in!
      .row
        .small-5.medium-4.large-3.columns
          img(src="#{locals.path}/assets/images/team/bram.png")
        .small-12.medium-8.large-9.columns
          p Hoi! Ik ben Bram, account manager bij Flipbase. Heb je vragen of wil je graag een demo zien hoe ons product werkt in jouw recruitment omgeving? Plan dan direct een demo in!
    .small-10.medium-6.small-centered
      a(href="https://calendly.com/bramtierie" target="_blank")
        button.request_button
          i.ion-ios-calendar
          | Plan direct een 15 minute demo in!