section
  .expanded.send_application_section
    .row
      .medium-8.medium-centered
        h2 #{page.metadata.application_section.header}
        p #{page.metadata.application_section.text}
        a(href="#")
          button #{page.metadata.application_section.button}