extends layout

block body
  div.e404
    div.header
      h1 Oh no!
    div.page
      h2 This is not how things supposed to be..
      p Something went terribly wrong! If you any questions or remarks, please #[a(href="/en/contact.html") contact us]!
