div.row
  div.clients
    div.small3
      img(src="/assets/images/logos/finders-200x200.png")
    div.small3
      img(src="/assets/images/logos/shoptalent-200x200.png")
    div.small3
      img(src="/assets/images/logos/unit4-200x200.png")
    div.small3.last
      img(src="/assets/images/logos/weleda-200x200.png")