extends layout

block body
  .contact
    div(style="background-image: url(#{locals.path}/assets/images/leidsegracht.jpg);" class="cover")
      .mask
      .contact-box
        img.contact_logo(src="#{locals.path}/assets/images/logo_white_small.png")
        .divider
        .details
          p 
            | Leidsegracht 16E 
            br
            | 1016 CK, Amsterdam
            br
            | support@flipbase.com
            br
            | +31 (0)20 893 26 47
        button(type="button" class="scrollto") #{page.metadata.contact.scroll}

  include partials/_contact

  script.
    function setupCoverVideo () {
      
      $(".scrollto").click(function() {
        $('html, body').animate({
            scrollTop: $("#contact").offset().top
        }, 1000);
      });

      fullscreen();
      $(window).resize(fullscreen);
      function fullscreen() {
        var wrapper = $('.cover, .mask');
        var windowH = $(window).height();
        var windowW = $(window).width();

        wrapper.width(windowW);
        wrapper.height(windowH);
      }
    }
    invoker.push(setupCoverVideo);