extends layout

block body
  div.contact
    div(style="background-image: url(#{locals.path}/assets/images/leidsegracht.jpg);" class="cover")
      div.mask
      div.contact-box
        h1 Flipbase
        div.divider
        div.details
          p Leidsegracht 16E
          p 1016 CK, Amsterdam
          p support@flipbase.com
          p +31 (0)20 893 26 47
        div.btns
          button(type="button" class="scrollto") #{page.metadata.contact.scroll}

    include partials/_contact

  script.
    function setupCoverVideo () {
      
      $(".scrollto").click(function() {
        $('html, body').animate({
            scrollTop: $("#contact").offset().top
        }, 1000);
      });

      fullscreen();
      $(window).resize(fullscreen);
      function fullscreen() {
        var wrapper = $('.cover, .mask');
        var windowH = $(window).height();
        var windowW = $(window).width();

        wrapper.width(windowW);
        wrapper.height(windowH);
      }
    }
    invoker.push(setupCoverVideo);