extends layout

block body
  section
    .full-screen-section.no-overlay(style="background-image: url(#{locals.path}/assets/images/employer-branding/4.jpg")
      .row.vertical-centered-text
        .small-11.small-centered
          h1.main-header= page.metadata.titles.header
          p.main-subheader= page.metadata.titles.subheader
          
  include partials/employer-branding/_features-1

  include partials/employer-branding/_custom-text-section
  
  include partials/employer-branding/_features-6
  
  include partials/sollicitatie-proces/_partners
    
  include partials/employer-branding/_video-slider
  
  include partials/employer-branding/_testimonials
  
  include partials/sollicitatie-proces/_clients
  
  include partials/sollicitatie-proces/_request


