// You can find styles for this section in pages/_employer-branding.scss
// Note, that some of sections use styles from pages/sollicitatie-proces.scss
// Some of sections are included from partials/sollicitatie-process/

extends layout

block body
  section
    .full-screen-section
      +coverVideo('https://s3.eu-central-1.amazonaws.com/videos.flipbase.com/www-cover-vertidrive/upload_f07e385b544223a8ea551a8c34966879', 'https://s3.eu-central-1.amazonaws.com/videos.flipbase.com/www-cover-vertidrive/thumbs/cover.jpg')
      .row.vertical-centered-text
        .small-11.small-centered
          h1.main-header= page.metadata.titles.header
          p.main-subheader= page.metadata.titles.subheader
          
  include partials/employer-branding/_whyvideo

  include partials/employer-branding/_about
  
  include partials/employer-branding/_howdoesitworks
  
  //- include partials/sollicitatie-proces/_partners
    
  //- include partials/employer-branding/_video-slider
  
  //- include partials/employer-branding/_testimonials
  
  include partials/sollicitatie-proces/_clients
  
  include partials/sollicitatie-proces/_request


