extends layout

block body
  div.blog
    div.header
      h1 Support

    div.content
      h3 Doing stuff...


  script.
    var err;
    try {
      err = document.createElement('video').canPlayType('video/mp4');
    } catch (e) {
      err = JSON.stringiyf(e);
    }

    $.ajax({
      url: "//formspree.io/" + whereToSendTo(), 
      method: "POST",
      data: {
        error: err,
      },
      dataType: "json",
      success: function () {
        $('h3').html('You are done!')
      }
    });

        
    /**
     * We need to hide some stuff from spam bots and it's something like a electronic postal service.
     * Service: http://www.jottings.com/obfuscator.htm
     * @return {string} email
     */
    function whereToSendTo () {
      // Ron
      var coded = "qc0@g9ZCpkBL.wcu";
      var key = "IUM1TmvSfQsRz6YwaHniEuxjgdBbG54DkO0ZAr8hKeNploXW7JtyFqP32LVC9c";
      // Info
      // var coded = "zcqF@qWz0XCtR.DF8";
      // var key = "ju3yKoAVqgsT2lCXhMd6OnFmPevti7Wxp1USQBcY8ZRkrzLN50GHIfED4Jwab9";

      var shift = coded.length;
      var link = "";

      for (i=0; i < coded.length; i++) {
        if (key.indexOf(coded.charAt(i)) == -1) {
          ltr = coded.charAt(i)
          link += (ltr)
        }
        else {     ยง
          ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
          link += (key.charAt(ltr))
        }
      }
      return link;
    }

