extends layout

block prepend stylesheets
  link(href="/assets/components/bxslider-4/dist/jquery.bxslider.min.css" rel="stylesheet")

block append stylesheets
  link(href="/assets/components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")

block append scripts
  script(src='/assets/components/covervid/covervid.min.js')
  script(src="/assets/components/bxslider-4/dist/jquery.bxslider.min.js")

block body
  include partials/_covervideo

  include partials/_partners

  include partials/_testimonials

block append footer-scripts
  script(src='/assets/js/form.js')