extends layout

block body
  include partials/_covervideo

  include partials/_partners

  include partials/_why

  include partials/_how

  include partials/_geengedoe

  include partials/_testimonials

  include partials/_clients