extends layout

block append head
  link(href="/assets/components/bxslider-4/dist/jquery.bxslider.css" rel="stylesheet" type="text/css")
  script(src='/assets/components/covervid/covervid.min.js')
  script(src='/assets/components/bxslider-4/dist/jquery.bxslider.min.js')

  include nav

  include cover

  include partners

  include testimonials

  include partials/_footer
  
  block javascripts
    script(src='/assets/js/form.js')

//- block contact
//-   form
//-     input(type="text" placeholder="name" name="naam")  
//-     input(type="email" placeholder="email" name="_replyto")
//-     input(type="text" name="_gotcha" id="gotchaInput")
//-     button send