// You can find styles for this section in pages/_jobs.scss

extends layout

//- Only include player when defined in metadata
block append scripts
  script(src="https://app.flipbase.com/recorder.js")
  if page.metadata.player
    script(src="https://app.flipbase.com/player.js")

block body
  if page.metadata.video
    +videoModal(1, page.metadata.title, page.metadata.video, page.metadata.cover)
  else
    header.header.jobs_section_header
      .row.clearfix
        .medium-6
          h1 #{page.metadata.title}
 
  article
    .row.job_post_section
      .large-6
        #article !{page.html}

  // You can find styles for this section in pages/_jobs.scss

  .expanded.application_form_section
    .row
      .medium-10.large-7.medium-centered
        .large-push-3
          h3 Interested? Apply below!
        form#applicationform
            .row
              .medium-3.large-3.columns.padding-0
                label.req(for="firstname") First name 
              .medium-8.large-9.columns
                input(id="firstname" type="text" required)
            
              .medium-3.large-3.columns.padding-0
                label.req(for="lastname") Last name 
              .medium-8.large-9.columns
                input(id="lastname" type="text" required)

              .medium-3.large-3.columns.padding-0
                label.req(for="email") E-mail adres
              .medium-8.large-9.columns
                input(id="email" type="text" required)
                                         
              //- .medium-3.large-3.columns.padding-0
              //-   label.req Cover letter 
              //- .medium-8.large-9.columns
              //-   .custom-file-upload
              //-     // <label for="file">File: </label>
              //-     input(type='file', id='cover' required)
                            
              .large-11.video-section
                input(type="flipbase" id="video" required)
                
              .large-11.align-center.submit-section
                button.application-submit(type="submit") Yes, I’d like to work at Flipbase!
                #loadingProgress.loading
                  span
                    i.ion-ios-loop-strong
                    | Sending your application!
                .clearfix
                #successMessage.success
                  span
                    i.ion-checkmark-round
                    | All good! Je hoort zo snel mogelijk van ons!
                #errorMessage.error
                  span
  

block append footer-scripts
  script.
    Flipbase.recorder({
      recorderId: '1a4ba320-7a4c-4040-9b67-c02490809cf1',
      callback: function () {
        $('#errorMessage').hide();
      }
    });
  script.
    
    // Form
    
    $( document ).ready(function() {
      $('input, textarea').placeholder();
      $('#loadingProgress').hide();
    });

    var formID = '#applicationform';

    //- Translate error message
    var errorMsg = {
      firstname: 'firstname',
      lastname: 'lastname',
      email: 'email',
      video: 'video' 
    };
    var fields = ['firstname', 'lastname', 'email', 'video'];

    function err (msg) {
      return 'Kan gebeuren: je hebt je ___ niet ingevuld.'.replace(/___/, msg);
    }

    function getData () {
      return {
        firstname: $('#firstname').val(),
        lastname: $('#lastname').val(),
        email: $('#email').val(),
        video: $('#video').val()
      }
    }
    
      