// You can find styles for this section in pages/_blog.scss

extends layout

block body
  header.jobs_section_header
    .row.clearfix
      .medium-6
        h1 Current openings (4)
        ul
          li
            a(href="/jobs/accountmanager.html") Account manager, 
              span Amsterdam
          li
            a(href="/jobs/stage-content-marketing.html") Stage content- en online marketing, 
              span Amsterdam
          li
            a(href="/jobs/junior-front-end-developer.html") Front-end developer, 
              span Amsterdam
          li
            a(href="/jobs/stage-sales.html") Stage acuiqisitie &amp; sales, 
              span Amsterdam
  
  include partials/jobs/_who-we-are
              
  include partials/jobs/_video-section      
       
  include partials/jobs/_who-we-are-additional
    
  section(data-aos="fade-zoom-in")
    .expanded
      img(src="#{locals.path}/assets/images/jobs/2.jpg" srcset="#{locals.path}/assets/images/jobs/2@2x.jpg 2x" style="width: 100%")
      
  include partials/jobs/_what-we-offer
  
  include partials/jobs/_application-section
        
        
        
        
        
        
        
          
    
    