doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      | !{ livereloadScript }
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel="shortcut icon" href="/assets/images/favicon.ico")

      block title 
        title #{locals.name}
      
      block scripts
        script(src='/assets/js/modernizr.custom.min.js')
        script(src="//use.typekit.net/uvu0omm.js")
        script.
          try{Typekit.load({ async: true });}catch(e){}
        <!--[if lt IE 9]>
        script(src='/assets/components/html5shiv/dist/html5shiv.min.js')
        <![endif]-->
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src="/assets/components/rrssb/js/rrssb.min.js")
        script(src="/assets/components/bxslider-4/dist/jquery.bxslider.min.js")

      block stylesheets
        link(href="/assets/components/normalize.css/normalize.css" rel="stylesheet" type="text/css")
        link(href="/assets/components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="/assets/components/rrssb/css/rrssb.css" type="text/css")
        link(href="/assets/css/style.css" rel="stylesheet" type="text/css")
        link(href="/assets/components/bxslider-4/dist/jquery.bxslider.min.css" rel="stylesheet")

  body

    //- div.loader
    #main.main
      include partials/_nav

      block body

      include partials/_footer
      //- These scripts needs to be executed on every page request
      script(src='/assets/js/page.js')
      script(src='/assets/js/form.js')

    block footer-scripts
      script(src='/assets/components/smoothstate/jquery.smoothState.min.js')
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45440989-1', 'auto');
        ga('send', 'pageview');

        ;(function ($) {
          var $body = $('html, body');
          var smoothState = $('#main').smoothState({
            debug: true,
            anchors: 'a',
            prefetch: true,
            // Runs when a link has been activated
            onStart: {
              duration: 100, // Duration of our animation
              render: function ($container) {
                // for restarting css animations with a class
                $container.addClass('is-exiting');
                smoothState.restartCSSAnimations();
              }
            },
            onReady: {
              duration: 100,
              render: function ($container, $newContent) {
                // Remove your CSS animation reversing class
                $container.removeClass('is-exiting');
                // Inject the new content
                $container.html($newContent);
              }
            },
            onAfter: function() {
              if (window.ga) {
                window.ga('send', 'pageview', window.location.pathname || smoothState.href);
              }
            }
          }).data('smoothState');

        })(jQuery);