header
  div.nav-wrapper
    div.nav-inner
      nav.nav
        ul
          li
            a(href="/") Home
          li
            a(href="/blog") Blog
          li
            a(href="/contact") Contact
          li(style="padding:4px; margin-right: 5px;")
            a(href="/en")
              img(src="/assets/images/flag_uk.png")

      div.logo
        a(href="flipbase.com")
          img(src="/assets/images/logo_white_small.png")

      div.sticky-logo
        a(href="flipbase.com")
          img(src="/assets/images/logo_small.png")

    script.
      $(document).ready(function() {
        $(window).on('scroll', function() {
          var fromTop = $('body').scrollTop();
          $('.nav-wrapper').toggleClass('sticky', (fromTop > 100));
        });
      });