div.row
  div.partners
    div.small3
      img(src="/assets/images/partners/carerix-200x200.png")
    div.small3
      img(src="/assets/images/partners/connexys-200x200.png")
    div.small3
      img(src="/assets/images/partners/hireserve-200x200.png")
    div.small3.last
      img(src="/assets/images/partners/tangram-200x200.png")
    div.small3
      img(src="/assets/images/partners/talentsoft-200x200.png")
    div.small3
      img(src="/assets/images/partners/finders-200x200.png")
    div.small3
      img(src="/assets/images/partners/unit4-200x200.png")
    div.small3.last
      img(src="/assets/images/partners/weleda-200x200.png")