extends layout

block body
  .row.blog_section
    .small-10.small-centered.blog_title
      h1 Privacy Policy
    .small-12.blog_categories
      ul
        li
          a What does it cover?
        li
          a What do we collect?
        li
          a How we use information
    .small-10.medium-8.large-6.small-centered.privacy_information
      small Last updated at 16 march 2017
      :markdown
        Flipbase knows that you care about how your information is used and shared. We take your privacy seriously. Please read the following to learn more about our Privacy Policy. By visiting the Flipbase website at www.flipbase.com, or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy.
        
        

        ### What does this Privacy Policy cover?

        This Privacy Policy covers Flipbase’s treatment of information that Flipbase gathers when you are accessing the website and when you use our services. This Privacy Policy describes how Flipbase collects and uses the information you provide on our website and services. It also describes the choices available to you regarding our use of your information and how you can access and update this information. This policy does not apply to the practices of companies that Flipbase does not own or control, or to individuals that Flipbase does not employ or manage.

        ### What information does Flipbase collect from you?
        We collect and store the following types of information from our users:

        Information you provide to us:

        We receive and store any information you enter on the website or provide to us in any other way. The types of information collected include personal data (name, e-mail adress etc.), video files/data and any other data you actively choose to provide. You may choose not to provide us with certain information, but then you may not be able to take advantage of all our features. The information you provide is used for such purposes as responding to your requests for certain information, products and services, customizing the advertising and content you see, and communicating with you about specials and new features. You may request a modification or removal of any of your information at any time by sending an e-mail to support@flipbase.com

        Information collected automatically:

        As is true of most websites, we gather certain information automatically and store it in log files. This information may include Internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data.

        We do not link this automatically collected data to other information we collect about you.

        E-mail communications:

        We may receive correspondence from you from time to time in connections with our website and our services, including questions you may have about this Privacy Policy, customer support interactions or other matters.

        ### Cookies

        Technologies such as: cookies, beacons, tags and scripts are used by Flipbase and our advertising partners, affiliates, or analytics or service providers. These technologies are used in analyzing trends, administering the site, tracking users’ movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies.

        We use cookies to remember users’ settings (e.g. language preference) and for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.
  