extends layout

block body
  div.blog
    div.header
      h1 Privacy Policy Flipbase

    div.content
      :markdown
        Flipbase knows that you care about how your information is used and shared. We take your privacy seriously. Please read the following to learn more about our Privacy Policy. By visiting the Flipbase website at www.flipbase.com, or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy.

        ### What does this Privacy Policy cover?

        This Privacy Policy covers Flipbase’s treatment of information that Flipbase gathers when you are accessing the website and when you use our services. This Privacy Policy describes how Flipbase collects and uses the information you provide on our website and services. It also describes the choices available to you regarding our use of your information and how you can access and update this information. This policy does not apply to the practices of companies that Flipbase does not own or control, or to individuals that Flipbase does not employ or manage.

        ### What information does Flipbase collect from you?
        We collect and store the following types of information from our users:

        Information you provide to us:

        We receive and store any information you enter on the website or provide to us in any other way. The types of information collected include personal data (name, e-mail adress etc.), video files/data and any other data you actively choose to provide. You may choose not to provide us with certain information, but then you may not be able to take advantage of all our features. The information you provide is used for such purposes as responding to your requests for certain information, products and services, customizing the advertising and content you see, and communicating with you about specials and new features. You may request a modification or removal of any of your information at any time by sending an e-mail to support@flipbase.com

        Information collected automatically:

        As is true of most websites, we gather certain information automatically and store it in log files. This information may include Internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data.

        We do not link this automatically collected data to other information we collect about you.

        E-mail communications:

        We may receive correspondence from you from time to time in connections with our website and our services, including questions you may have about this Privacy Policy, customer support interactions or other matters.

        ### Cookies

        Technologies such as: cookies, beacons, tags and scripts are used by Flipbase and our advertising partners, affiliates, or analytics or service providers. These technologies are used in analyzing trends, administering the site, tracking users’ movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies.

        We use cookies to remember users’ settings (e.g. language preference) and for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.

        ### How do we use information collected from you?
        We want to give you and all of our users the best possible services and a positive user experience. We use the information we collect from you in the following ways:

        - To provide, maintain, tailor and improve our website and our service;
        - To provide you with customer support and troubleshoot problems;
        - To inform you about service updates and faults;
        - To request feedback or participation in on-line surveys;
        To resolve disputes;
        - To verify your identity;
        - To customize, measure, and improve Flipbase’s service, software and our website;
        - To organize and carry out Flipbase’s marketing or promotional operations/offers, contests, games and similar events. If you do not wish to receive these offers, please send us an email (to support@flipbase.com) to unsubscribe or follow the unsubscribe link included in these emails;
        - To help you with questions you may have about this Privacy Policy.
        - To protect Flipbase, you and others those use our website and our service.
        - To anonymize information about how you and other users use our website and our services, to identify trends and better understand users’ behaviour. When we say data is “anonymous” we mean that it will not contain information from which you may be personally identified or contacted.
        Will Flipbase share any of the information it receives?
        - We neither rent nor sell your information to anyone. We don’t share your information with other organizations or individuals outside of Flipbase, except as described below.

        With our affiliates and trusted business partners that cooperate with us to provide you our services or in collecting, storing or processing your information for us. We only provide them with the information they need to perform their specific obligations and we require them to do so based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.
        When we have a good-faith belief that it is reasonably necessary to:
        meet any applicable law, regulation, legal process or enforceable governmental request.
        enforce the Terms of Service, including investigation of potential violations.
        detect, prevent, or otherwise address fraud, security or technical issues.
        protect against or prevent harm to the rights, property or safety of Flipbase, you, other users as required or permitted by law.
        with your permission.
        We may share data publicly and with our partners. For example, we may share information publicly to show trends about the general use of our website and our service. Your information may be stored and processed in the Netherlands or any other country in which Flipbase, its affiliates, subsidiaries, or service providers maintain servers. As such, Flipbase reserves the right to transfer your information outside of the country in which you live. By using our website and our services you consent to any such transfer.

        If Flipbase is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy. You will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your information, as well as any choices you may have regarding your information.

        We display success stories of satisfied customers on our site in addition to other endorsements. With your consent we may post your success story along with your name. If you wish to update or delete your testimonial, you can contact us at support@flipbase.com.

        What other choices do i have?
        We will retain your information for as long as your account is active or as needed to provide you services. You may request deletion of your Flipbase account or if you wish to cancel your account or request that we no longer use your information to provide you services contact us at support@flipbase.com. Please note that some information may remain in our records after deletion of your account. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.

        Information related to data collected for our developers and other clients
        Flipbase collects information under the direction of its partners and other clients, and has no direct relationship with the end users whose personal data it processes. If you are a customer of one of our partners or clients that use our service and would no longer like to be contacted by them, please contact the partners or client of ours that you interact with directly. We may transfer certain information related to data collected for our clients to companies that help us provide our service. Transfers of such information to subsequent third parties are covered by the service agreements between Flipbase and its clients.

        An end user who seeks access, or who seeks to correct, amend, or delete inaccurate data should direct his query to the Flipbase’s partner or client. If requested to remove data we will respond within 30 days.

        We will retain personal data we process on behalf of our partners or clients for as long as needed to provide services to our partner or client. Flipbase will retain this information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.

        Changes to this Privacy Policy

        Flipbase may make changes to this Privacy Policy from time to time for any reason. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make any material changes or changes in the way we use information, we will notify you via e-mail or by posting an announcement on the website prior to the change becoming effective. Users are bound by any changes to the Privacy Policy when he or she uses the website after such changes have been first posted.

        Questions
        If you have any questions or concerns regarding privacy at Flipbase, please send us a detailed message to support@flipbase.com We will make every effort to resolve your concerns.

        Flipbase, Leidsegracht 16e 1016CK Amsterdam, The Netherlands