// You can find styles for this section in pages/_sollicitatie-proces.scss

extends layout

block body
  section
    .full-screen-section
      +coverVideo('https://s3.eu-central-1.amazonaws.com/videos.flipbase.com/www-cover-rick/rick', 'https://s3.eu-central-1.amazonaws.com/videos.flipbase.com/www-cover-rick/thumbs/f000000_1280x720.jpg')
      .row.vertical-centered-text
        .small-10.small-offset-1.small-centered
          h1.main-header= page.metadata.titles.header
          p.main-subheader= page.metadata.titles.subheader
          
  include partials/sollicitatie-proces/_features-1
  
  include partials/sollicitatie-proces/_features-2
  
  include partials/sollicitatie-proces/_features-3
  
  include partials/sollicitatie-proces/_features-4
  
  // Partners For mobile only
  .hide-for-large.mobile_partners
    include partials/sollicitatie-proces/_partners
  
  include partials/sollicitatie-proces/_features-5
  
  // Partners for desktop
  .show-for-large
    include partials/sollicitatie-proces/_partners
  
  include partials/sollicitatie-proces/_testimonials
  
  include partials/sollicitatie-proces/_clients
  
  .show-for-large
    include partials/_cta


