/**
 * Navigation menu
 */
.nav-wrapper {
  position: fixed;
  z-index: 1;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-inner {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}
.nav-inner:after {
  content: " ";
  display: block;
  clear: both;
}
.nav-inner img {
  max-width: 100%;
}

.nav {
  display: inline-block;
  float: right;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav ul li {
  float: left;
  padding: 0 10px;
  line-height: 90px;
}
.nav ul li a {
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  position: relative;
}
.nav ul li img {
  width: 20px;
}
.nav ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #FFF;
  content: "";
  transition: width 0.2s;
}
.nav ul li a:hover:after {
  width: 100%;
}

/**
 * Logo
 */
.nav-inner .logo, .nav-inner .sticky-logo {
  float: left;
}
.nav-inner .logo {
  display: block;
  padding: 25px;
  max-width: 170px;
}
.nav-inner .sticky-logo {
  padding: 15px;
  display: none;
}

.sticky {
  background-color: #FFF;
  transition: background-color 0.2s, color 0.2s;
  height: 60px;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.4);
}
.sticky .nav-inner {
  transition: height 0.2s;
  height: 60px;
}
.sticky .logo {
  display: none;
}
.sticky .sticky-logo {
  display: block;
  line-height: 45px;
}
.sticky .nav {
  color: #444444;
}
.sticky .nav ul li {
  transition: line-height 0.2s;
  line-height: 60px;
}
.sticky .nav ul li a {
  color: #444444;
}
.sticky .nav a:after {
  background-color: #a72552;
}

/**
 * Media queries
 */
@media (max-width: 499px) {
  .nav-wrapper {
    height: 50px;
  }

  .nav-inner .logo img, .nav-inner .sticky-logo img {
    max-width: 120px;
  }
  .nav-inner .sticky-logo {
    padding: 10px;
    line-height: 45px;
  }
  .nav-inner .logo {
    padding: 15px;
  }

  .nav ul li a, .sticky .nav ul li a {
    font-size: 12px;
  }
  .nav ul li, .sticky .nav ul li {
    line-height: 45px;
    padding: 0 5px;
  }
}
.page {
  position: relative;
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
.page:after {
  content: " ";
  display: block;
  clear: both;
}

.row {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
}
.row:after {
  content: " ";
  display: block;
  clear: both;
}

/**
 * Partner logo's
 */
.partners {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
  text-align: center;
  margin-bottom: 40px;
}
.partners:after {
  content: " ";
  display: block;
  clear: both;
}
.partners .introduction {
  margin-top: 60px;
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;
}
.partners .introduction:after {
  content: " ";
  display: block;
  clear: both;
}
.partners .partner {
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  max-height: 150px;
}
@media (max-width: 499px) {
  .partners .partner {
    max-height: 110px;
  }
  .partners .wrap {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
  .partners .wrap:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .partners .wrap {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }
  .partners .wrap:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 801px) {
  .partners .wrap {
    width: 23.25581%;
    float: left;
    margin-right: 2.32558%;
  }
  .partners .wrap:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}

/**
 * Testimonials
 */
.testimonials {
  color: #FFF;
  padding-top: 60px;
  background-color: #A62651;
  position: relative;
}
.testimonials .bx-wrapper {
  background-color: #A62651;
  border: none;
  margin: 0;
  box-shadow: none;
}
.testimonials .bx-pager {
  position: relative;
  bottom: 0;
  background-color: #A62651;
  padding: 0 0 40px 0;
}
.testimonials .bx-wrapper .bx-pager.bx-default-pager a.active, .testimonials .bx-wrapper .bx-pager.bx-default-pager a:focus, .testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #FFF;
}
.testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #7d1d3d;
}
.testimonials:hover .prev, .testimonials:hover .next {
  opacity: 1;
}
.testimonials .prev, .testimonials .next {
  -webkit-transition: opacity 500ms ease, background 500ms ease;
  -moz-transition: opacity 500ms ease, background 500ms ease;
  -ms-transition: opacity 500ms ease, background 500ms ease;
  -o-transition: opacity 500ms ease, background 500ms ease;
  transition: opacity 500ms ease, background 500ms ease;
  opacity: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  z-index: 9999;
  font-size: 24px;
  padding: 10px;
  background: none;
}
.testimonials .prev:hover, .testimonials .next:hover {
  background-color: #d03065;
}
.testimonials .prev a, .testimonials .next a {
  color: #FFF;
}
.testimonials .prev {
  left: 10px;
}
.testimonials .next {
  right: 10px;
}
@media (max-width: 800px) {
  .testimonials .prev, .testimonials .next {
    display: none;
  }
}
.testimonials .quote-wrap {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.testimonials .quote-wrap:after {
  content: " ";
  display: block;
  clear: both;
}
.testimonials .quote {
  font-family: "freight-text-pro";
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1.2em;
}
.testimonials h4.quotee {
  font-size: 1em;
}

/**
 * Footer
 */
.footer {
  background-color: #303036;
}
.footer .content {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}
.footer .content:after {
  content: " ";
  display: block;
  clear: both;
}
.footer .logo img {
  max-width: 90%;
  margin-top: 18px;
}
.footer .logo, .footer .sitemap, .footer .contact {
  padding: 15px;
  box-sizing: border-box;
}
.footer .rrssb-buttons li a .rrssb-icon svg {
  width: 12px;
  height: 12px;
}
.footer .rrssb-buttons {
  height: 30px;
}
.footer h5 {
  color: #FFF;
}
.footer a, .footer p, .footer ul li {
  color: #808080;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 20px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .sitemap ul li a {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: border 300ms ease, color 300ms ease;
  -moz-transition: border 300ms ease, color 300ms ease;
  -ms-transition: border 300ms ease, color 300ms ease;
  -o-transition: border 300ms ease, color 300ms ease;
  transition: border 300ms ease, color 300ms ease;
}
.footer .sitemap ul li a:hover {
  color: #FFF;
  border-bottom: 1px solid silver;
}
@media (max-width: 500px) {
  .footer .content {
    padding: 30px 0;
  }
  .footer .logo {
    max-width: 50%;
  }
  .footer .sitemap, .footer .contact {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%;
  }
  .footer .sitemap {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 501px) and (max-width: 619px) {
  .footer .logo, .footer .sitemap, .footer .contact {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
  }
  .footer .sitemap {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 620px) {
  .footer .logo, .footer .sitemap, .footer .contact {
    width: 23.25581%;
    float: left;
    margin-right: 2.32558%;
  }
}

h1, h2, h3, h4, h5, .subtitle, span, p, a, ul, ul li {
  font-family: "freight-sans-pro";
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
}

h2.subtitle {
  font-weight: 200;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 800px) {
  h2 {
    font-size: 1.7em;
  }
}

.cover-wrapper {
  position: relative;
}

.cover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.cover-container .cover-titles {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 110px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #fff;
}
.cover-container .cover-overlay {
  background-color: #272630;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog .header {
  background-color: #A62651;
  text-align: center;
  color: #FFF;
  padding: 40px;
}
.blog .content, .blog .article {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
  margin-top: 60px;
}
.blog .content:after, .blog .article:after {
  content: " ";
  display: block;
  clear: both;
}
.blog .article {
  margin-bottom: 60px;
}
.blog .summary-divider {
  border-bottom: 1px solid #efefef;
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.blog .social-icons {
  width: 30%;
}
.blog .content h2 {
  margin-bottom: 5px;
}
.blog .content a {
  text-decoration: none;
  color: #444;
}
.blog .content a:hover {
  color: #A62651;
}
.blog .content .more a {
  color: #A62651;
  font-weight: bold;
}
.blog .content .more a:hover {
  color: #444;
}
.blog .content .metadata {
  font-size: 0.9em;
  color: #aaa;
}

/*# sourceMappingURL=style.css.map */
