a {
  transition: color .3s ease;
}
a:hover {
  color: #a62651;
  transition: all 0.3s ease;
}

a, a:focus, button, button:focus, span, span:focus, li, li:focus {
  outline: none !important;
}

body {
  font-size: 16px;
  line-height: 1.75;
  font-family: "freight-sans-pro", Helvetica;
  overflow-x: hidden;
  font-weight: 400;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: "freight-sans-pro", Helvetica;
  font-weight: 600;
  margin: 1.414em 0 0.5em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.17;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 1.625em;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.875em;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.25em;
  }
}

h2 {
  font-size: 1.75em;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.875em;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.25em;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.375em;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.25em;
  line-height: 1.17;
}
@media screen and (min-width: 1024px) {
  h4 {
    font-size: 1.375em;
  }
}

h5 {
  font-size: 1.125em;
  line-height: 1.17;
}

h6 {
  font-size: 1em;
  line-height: 1.17;
}

.align-center {
  text-align: center;
}

/**
 * Navigation menu
 */
.js-off-canvas-overlay.is-visible {
  display: none !important;
}

.logo-dark {
  display: none !important;
}

nav.sticky-container {
  top: 0 !important;
  position: absolute;
  width: 100%;
  transition: all .4s ease;
  z-index: 9999;
}
nav.sticky-container .sticky {
  transition: all .4s ease;
}
nav.sticky-container .is-stuck {
  width: 100%;
  transition: all .4s ease;
  background-color: white;
}
nav.sticky-container .is-stuck .logo-white {
  display: none;
}
nav.sticky-container .is-stuck .logo-dark {
  display: block !important;
}
nav.sticky-container .is-stuck .top-bar {
  padding: 10px 0 !important;
  transition: all .4s ease;
}
nav.sticky-container .is-stuck .top-bar li a {
  color: #221e30;
  font-weight: 500;
}

nav.dark-nav .top-bar-right li a {
  color: #1a1624 !important;
}
nav.dark-nav .logo-white {
  display: none !important;
}
nav.dark-nav .logo-dark {
  display: block !important;
}
nav.dark-nav .menu-mobile-icon {
  background-color: black !important;
}
nav.dark-nav .menu-mobile-icon:after, nav.dark-nav .menu-mobile-icon:before {
  background-color: black !important;
}

@media (max-width: 1023px) {
  nav .sticky.is-anchored.is-at-bottom {
    top: 0 !important;
  }

  .off-canvas {
    background-color: #221e30;
  }
  .off-canvas ul {
    padding: 20px 42px 20px 24px;
  }
  .off-canvas ul li {
    padding-top: 6px;
  }
  .off-canvas .menu.nested {
    padding: 8px 6px 6px 0;
  }
  .off-canvas .menu.nested a {
    font-size: 16px;
    padding-bottom: 8px !important;
  }
  .off-canvas .is-accordion-submenu-parent > a:after {
    content: "\f3d0";
    font-family: "Ionicons";
    border: 0;
    top: 40%;
  }
  .off-canvas .is-accordion-submenu-parent[aria-expanded=true] > a:after {
    content: "\f3d8";
    font-family: "Ionicons";
    transform: none;
  }
  .off-canvas a {
    color: #f2f4f9;
    font-weight: 300;
    font-size: 18px;
    border-bottom: 1px solid #f2f4f9;
    padding-left: 4px !important;
  }
  .off-canvas a:hover, .off-canvas a:focus {
    color: #f2f4f9;
  }

  .top-bar {
    background-color: transparent;
  }
  .top-bar ul {
    background-color: transparent;
  }
  .top-bar ul li:first-child {
    float: left;
    position: relative;
    top: 16px;
    left: 10px;
  }
  .top-bar .top-bar-right {
    display: none;
  }
  .top-bar .top-bar-left {
    width: 100%;
  }
  .top-bar .brand {
    float: right;
  }
  .top-bar .brand a {
    padding-right: 0;
  }
  .top-bar .menu-mobile-icon {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: relative;
    background-color: #fff;
    transform: translateX(0%) translateY(-50%);
    width: 25px;
    height: 3px;
    top: -4px;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
  }
  .top-bar .menu-mobile-icon:after, .top-bar .menu-mobile-icon:before {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    transition: all .4s ease;
  }
  .top-bar .menu-mobile-icon:after {
    top: 8px;
  }
  .top-bar .menu-mobile-icon:before {
    top: -8px;
  }
  .top-bar .menu-mobile-icon[aria-expanded="true"] {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .top-bar .menu-mobile-icon[aria-expanded="true"]:after {
    top: 0;
    transform: rotate(45deg);
  }
  .top-bar .menu-mobile-icon[aria-expanded="true"]:before {
    top: 0;
    transform: rotate(-45deg);
  }
}
@media (min-width: 1024px) {
  .off-canvas {
    display: none;
  }

  .position-left.is-open ~ .off-canvas-content {
    transform: none;
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    top: 130%;
  }

  .top-bar {
    padding: 30px 0 !important;
    background-color: transparent;
    transition: all .4s ease;
  }
  .top-bar .brand img {
    width: 170px;
  }
  .top-bar ul {
    background-color: transparent;
  }
  .top-bar .top-bar-right {
    margin-top: 8px;
  }
  .top-bar .top-bar-right li a {
    color: white;
    position: relative;
  }
  .top-bar .top-bar-right li a:hover {
    color: #a62651;
    transition: all 0.3s ease;
  }
  .top-bar .top-bar-right li a:hover:after {
    width: 100%;
  }
  .top-bar .top-bar-right li a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #a62651;
    content: "";
    transition: width 0.3s;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu {
    background-color: white;
    min-width: 345px;
    padding: 18px 0;
    border: 1px solid #a62651;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu li {
    padding: 10px 34px 14px 34px;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu li:last-child p {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu a {
    color: #1a1624;
    padding: 0;
    font-size: 1.25em;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu a:hover {
    color: #a62651;
    transition: all 0.3s ease;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu a:after {
    display: none;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu a i {
    font-size: 12px;
  }
  .top-bar .top-bar-right li .is-dropdown-submenu a p {
    margin-top: 7px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #f2f4f9;
    font-size: 15px;
    line-height: 1.5em;
  }
  .top-bar .top-bar-right .language img {
    width: 18px;
  }
}
footer {
  background-color: #221e30;
  padding-top: 100px;
  padding-bottom: 60px;
}
footer a, footer p, footer h6 {
  color: white;
}
footer h6 {
  margin-bottom: 18px;
  margin-top: 8px;
}
footer .logo img {
  margin-bottom: 30px;
  width: 160px;
}
footer .language img {
  width: 18px;
}
footer .social-block a {
  font-size: 15px;
  margin: 0 6px 0 6px;
}
footer ul {
  list-style: none;
  margin-left: 0;
}
footer ul a, footer ul p {
  color: #939ca9;
}
footer ul a:hover {
  color: white;
  border-bottom: 1px solid white;
}

@media (max-width: 640px) {
  footer ul {
    margin-bottom: 34px;
  }
}
.cover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-screen-section {
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.full-screen-section:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(30, 37, 62, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.flexbox .full-screen-section {
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
}
.flexbox .full-screen-section .home-header {
  margin-bottom: 90px;
}
.flexbox .full-screen-section .row {
  width: 1200px;
  z-index: 100;
  margin: auto;
}
@media (max-width: 640px) {
  .flexbox .full-screen-section .row {
    padding: 100px 15px 60px 15px;
    width: 100%;
  }
}

.no-flexbox .full-screen-section .row {
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1200px;
  margin: auto;
}
.no-flexbox .full-screen-section .row .home-header {
  text-align: center;
  margin-bottom: 50px;
}

.home-text-block {
  background-color: #a62651;
  box-shadow: 1px 0 10px 4px rgba(0, 0, 0, 0.5);
  padding: 70px 30px 35px 30px;
  border-radius: 10px;
}
.home-text-block h3, .home-text-block p {
  color: white;
  word-break: break-word;
}
.home-text-block p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .home-text-block {
    margin-bottom: 40px;
  }
  .home-text-block p {
    font-size: 18px;
  }
}

/**
 * Outdated browser message
 */
.ie-warning {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #303036;
  z-index: 9999;
}

.ie-warning > div.ie-warning-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -200px;
  text-align: center;
  padding: 75px 0px;
  width: 800px;
  height: 300px;
  color: #fff;
}

.ie-warning > div.ie-warning-wrapper > h3 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}

.ie-warning > div.ie-warning-wrapper > p {
  font-weight: 200;
  margin-bottom: 50px;
}

.ie-warning div.browser-choice > .browser {
  width: 150px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 110px;
  padding-bottom: 20px;
}

.ie-warning div.browser-choice button.download-browser {
  margin-top: 10px;
  width: 150px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #258BE1;
  cursor: pointer;
}

.cover-wrapper {
  position: relative;
}

.cover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-header {
  margin-bottom: 20px;
}

.main-subheader {
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}

.features_1_section {
  background-color: #a62651;
  padding: 60px 0 100px 0;
  color: white !important;
}
.features_1_section .features_1_header_block {
  text-align: center;
  color: white;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
  margin-bottom: 80px;
}
.features_1_section .features_1_header_block .features_1_title {
  margin-bottom: 4px;
}
.features_1_section .features_1_header_block .features_1_subheader {
  font-size: 2em;
  font-weight: 300;
}
.features_1_section .features_1_icon {
  font-size: 1.375em;
}
.features_1_section .features_1_text {
  font-size: 1.375em;
  margin-bottom: 26px;
}
@media (max-width: 1200px) {
  .features_1_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.features_2_section {
  background-color: #F8F8F8;
  padding: 70px 0 100px 0;
}
.features_2_section .features_2_title {
  text-align: center;
  margin-bottom: 86px;
}
.features_2_section .features_2_text {
  font-size: 1.125em;
}
@media (max-width: 1200px) {
  .features_2_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .features_2_section .features_2_content {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.features_3_section {
  padding: 80px 0 100px 0;
}
.features_3_section .features_3_title {
  text-align: center;
  margin-bottom: 80px;
}
.features_3_section .features_3_text {
  margin-bottom: 84px;
  max-height: 90px;
}
.features_3_section .features_3_text .features_3_header {
  margin-top: 0;
}
.features_3_section .features_3_text .features_3_desc {
  font-size: 1.125em;
}
@media (max-width: 1200px) {
  .features_3_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 640px) {
  .features_3_section {
    padding-bottom: 70px;
  }
  .features_3_section .features_3_text {
    margin-bottom: 50px;
  }
}

.features_4_section {
  padding: 40px 0 100px 0;
}
.features_4_section .features_4_title {
  text-align: center;
  margin-bottom: 130px;
}
.features_4_section .features_4_desc {
  font-size: 1.125em;
  margin-bottom: 50px;
}
.features_4_section .features_4_header {
  margin-top: 0;
}
@media (max-width: 1200px) {
  .features_4_section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .features_4_section .features_4_title {
    margin-bottom: 80px;
  }
  .features_4_section .features_4_image {
    text-align: center;
    margin-top: 30px;
  }
}

.features_5_section {
  padding: 50px 0 80px 0;
}
.features_5_section .features_5_image {
  padding-left: 0;
  padding-right: 30px;
}
.features_5_section .features_5_image img {
  width: 100%;
}
.features_5_section .features_5_header {
  margin-top: 0;
}
.features_5_section .features_5_desc {
  font-size: 1.125em;
  margin-bottom: 36px;
}

.partners_section {
  padding: 40px 0 140px 0;
}
.partners_section .partners_title {
  margin-bottom: 100px;
  text-align: center;
}
.partners_section .partners_image {
  margin-bottom: 80px;
  text-align: center;
}

.testimonials_section {
  background-color: #a62651;
  padding: 60px 0 60px 0;
}
.testimonials_section .testimonal_title {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.testimonials_section .testimonial_statistics {
  text-align: center;
}
.testimonials_section .testimonial_statistics p {
  color: white;
  font-size: 1.125em;
  text-transform: uppercase;
}
.testimonials_section .testimonial_slider {
  padding-top: 120px;
}
.testimonials_section .testimonial_slider .bx-wrapper {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.testimonials_section .testimonial_slider .quote, .testimonials_section .testimonial_slider .quotee {
  color: white;
}
.testimonials_section .testimonial_slider .quotee {
  font-size: 1em;
}
.testimonials_section .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: white;
}
.testimonials_section .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: rgba(0, 0, 0, 0.35);
}

.clients_section {
  padding: 120px 0 100px 0;
  background-color: #F8F8F8;
}
.clients_section .clients_image {
  margin-bottom: 80px;
  text-align: center;
}

.request_section {
  padding: 100px 0 100px 0;
}
.request_section h3 {
  margin-bottom: 40px;
}
.request_section img {
  border-radius: 50px !important;
}
@media (max-width: 640px) {
  .request_section img {
    margin-bottom: 12px;
  }
}
.request_section .request_button {
  font-size: 1em;
  min-height: 74px;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #a62651;
  font-weight: 600;
  position: relative;
  margin-top: 42px;
  padding: 0 10px 0 10px;
}
@media screen and (min-width: 1024px) {
  .request_section .request_button {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 1200px) {
  .request_section .request_button {
    font-size: 1.25em;
  }
}
.request_section .request_button i {
  margin-right: 15px;
}
@media (min-width: 1024px) {
  .request_section .request_button i {
    position: absolute;
    left: 60px;
    top: 23px;
    font-size: 28px;
  }
}

.blog_section {
  padding-top: 60px;
}
.blog_section .blog_title h1 {
  color: #1a1624;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
.blog_section .blog_categories {
  border-top: 1px solid #f2f4f9;
  border-bottom: 1px solid #f2f4f9;
}
.blog_section .blog_categories ul {
  list-style: none;
  margin-bottom: 0;
  padding: 12px 0;
}
.blog_section .blog_categories ul li {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}
.blog_section .blog_categories ul li:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  background-color: #a4acb8;
  right: -18px;
  top: 11px;
}
.blog_section .blog_categories ul li:last-child:after {
  display: none;
}
.blog_section .blog_categories ul li a {
  color: #1a1624;
}
@media (max-width: 640px) {
  .blog_section .blog_categories ul {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .blog_section .blog_categories ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #f2f4f9;
  }
  .blog_section .blog_categories ul li:last-child {
    border-bottom: 0;
  }
}
.blog_section .blog_article_list {
  padding-top: 60px;
  padding-bottom: 90px;
}
.blog_section .blog_article_list .blog_article_header a {
  color: #1a1624;
}
.blog_section .blog_article_list .blog_article_meta {
  color: #a4acb8;
  font-size: 0.875em;
}
.blog_section .blog_article_list p {
  font-size: 1.125em;
}
.blog_section .blog_article_list .blog_article_divider {
  width: 84%;
  margin: auto;
  height: 1px;
  background-color: #f2f4f9;
  margin-top: 24px;
  margin-bottom: 50px;
}
.blog_section .blog_article_list .pagination ul {
  list-style: none;
}
.blog_section .blog_article_list .pagination li {
  background-color: #f2f4f9;
  border: 1px solid #a4acb8;
  margin: 0 4px;
  display: inline-block !important;
}
.blog_section .blog_article_list .pagination li:last-child, .blog_section .blog_article_list .pagination li:first-child {
  background-color: transparent;
  border: 0;
  margin: 0;
}
.blog_section .blog_article_list .pagination li i {
  color: #a4acb8;
  font-size: 20px;
  position: relative;
  top: 3px;
}
@media (max-width: 480px) {
  .blog_section .blog_article_list .pagination li {
    margin: 0 2px;
  }
}
.blog_section .blog_article_list .pagination .ellipsis {
  background-color: transparent;
  border: 0;
}
.blog_section .blog_article_list .pagination .ellipsis:after {
  position: relative;
  top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.blog_section .privacy_information {
  padding-top: 40px;
  padding-bottom: 80px;
}
.blog_section .privacy_information small {
  color: #a4acb8;
  font-size: 1em;
}
.blog_section .privacy_information h3 {
  margin-top: 2.625em;
}
.blog_section .privacy_information p {
  font-size: 1.125em;
}
.blog_section .privacy_information p:nth-child(2) {
  font-size: 1.375em;
}

.blog_article_content {
  padding: 70px 0 90px 0;
}

.contact {
  position: relative;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
}

.mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background-color: rgba(39, 38, 48, 0.85);
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-box {
  max-width: 100%;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  text-align: center;
  color: #FFF;
  position: absolute;
}

.contact button {
  margin: 10px 0;
  border: 1px solid #FFF;
  background: none;
  color: #FFF;
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}
.borderradius .contact button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.csstransitions .contact button {
  -moz-transition: border 500ms ease, background-color 500ms ease;
  -o-transition: border 500ms ease, background-color 500ms ease;
  -webkit-transition: border 500ms ease, background-color 500ms ease;
  transition: border 500ms ease, background-color 500ms ease;
}
.contact button:hover {
  background-color: #A62651;
  border-color: #A62651;
  color: #FFF;
}

/**
 * Contact form
 */
.contactform {
  background: #ededed;
}
.contactform .form {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.contactform .form:after {
  content: " ";
  display: block;
  clear: both;
}
.contactform .form .success, .contactform .form .error {
  display: none;
  font-weight: bold;
}
.contactform .form .success {
  color: #4bd117;
}
.contactform .form .error {
  color: #e03c3c;
}
.contactform input[type=email], .contactform input[type=password], .contactform input[type=text], .contactform textarea {
  width: 100%;
  background-color: #fff;
  color: #333;
  border: 1px solid #e3e3e3;
  outline: 0;
  padding: 10px 12px;
  font-size: 14px;
  margin-bottom: 4px;
  font-family: "freight-sans-pro";
}
.contactform button {
  margin: 10px 0;
  border: 1px solid #000;
  background: none;
  color: #000;
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}
.borderradius .contactform button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.csstransitions .contactform button {
  -moz-transition: color 500ms ease, background-color 500ms ease;
  -o-transition: color 500ms ease, background-color 500ms ease;
  -webkit-transition: color 500ms ease, background-color 500ms ease;
  transition: color 500ms ease, background-color 500ms ease;
}
.contactform button:hover {
  background-color: #333;
  color: #FFF;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cssanimations.opacity .main {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.cssanimations.opacity .main.is-exiting {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.bx-wrapper .bx-loading {
  background: url("../components/bxslider-4/dist/images/bx_loader.gif") center center no-repeat #ffffff;
}

/*# sourceMappingURL=style.css.map */
