// You can find styles for this section in pages/_employer-branding.scss

section
  .row.custom_text_section_1
    .small-11.medium-7.large-6(data-aos="fade-zoom-in")
      h3 #{page.metadata.custom_text_section_1.header1}
      p #{page.metadata.custom_text_section_1.text1_1}
      p #{page.metadata.custom_text_section_1.text1_2}